<%=flash[:success] %>
<h1><%= "Good #{@agent.greeting}, #{@agent.name}"%></h1>

<ul class="list-group">
  <% @agent.apartments.each do |apt| %>

      <li class="list-group-item"> <%= link_to apt.info, apt %> </li>

  <% end %>
</ul>
