<div class="body_div">
  <% if !@leases.empty? %>
      <h1>Your Leases</h1>
        <% @leases.each do |lease| %>

          <%= link_to lease, class:"list-group-item list-group-item-action flex-column align-items-start" do%>
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= lease.tenant_name%></h5>
          </div>
          <% end %>
          <% end %><br>
      <%= button_to "Add Lease", new_lease_path, class: "bg-success", method: :get %>
  <% else %>
      <h1>You currently have no leases.</h1>
  <% end %>
</div>
