$navbar-default-bg: #80ffe5;




@import "bootstrap-sprockets";
@import "bootstrap";


.link-color{
  color:green;
}
#logo{
  color:#666699;
  font-weight: bold;
}
#logo:hover{
  font-size: 1.2em;
  background-color: #33cccc;
}

.layout{
  display: inline-block;
  padding: 2px;
  width: 220px;
  margin: 5px 5px;
  border: 1px solid #0099cc;
}
.layout-center-text{
  text-align: center;
}

.header-text{
  font-size: 12px;
  font-weight: bold;
}
hr{
  border-bottom: 1px solid #33cccc;
}
body{
  background-image: url(/assets/background3.png);
  background-size:960px;
  // opacity: 0.5;
  // background-size: cover;
}
.rent_status{
  height: 20px;
}

.lineup{
  width: 120px;
}
.inputbox_bg{
  background-color: RGB(128, 255, 229);
}
