<h1>Apartments</h1>

<% if !@apartments.empty? %>
    <ul>
      <% @apartments.each do |apartment| %>
      <li><%= link_to apartment.name, apartment %></li>
      <% end %>
    </ul>
<% else %>
    <h4>You have no apartments on this page</h4>
<% end %>

<%= button_to "New Apartment", new_apartment_path, method: :get %>
